<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_URL" value="http://allpay.dev/"/>
        <env name="ALLPAY_ReturnUrl" value="return/"/>
        <env name="ALLPAY_NotifyURL" value="callback/"/>
        <env name="ALLPAY_Client_BackUrl" value="ClientBackUrl/"/>
        <env name="ALLPAY_DEBUG_MODE" value="true"/>

    </php>
</phpunit>
